.container{
    padding: 2rem 1.5rem;
    border-radius: 5px;
    background-color: var(--very-dark-magenta);
}
.container p{
    color: var(--light-grayish-magenta);
}
.profileContainer{
    display: flex;
    align-items: center;
    margin-bottom: 0.7rem;
}
.profilePic{
    margin-right: 1rem;
    border-radius: 50%;
}
.userProfile{
    display: inline-block;
    font-weight: var(--font-meduim);
}
.userProfile p:nth-child(2){
    color: var(--soft-pink);
}
@media (min-width:700) and (max-width: 757px) {
    .container{
        width: 220px;
        /* height: 235px; */
    }
}
@media (min-width:1000px) {
    .container{
        max-width: 350px;
        height: auto;
    }
}