*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --dark-cyan: hsl(185, 75%, 39%);
    --very-dark-desaturated-blue: hsl(229, 23%, 23%);
    --dark-grayish-blue: hsl(227, 10%, 46%);
    --dark-gray: hsl(0, 0%, 59%);
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 2rem;
    min-height: 100vh;
    background: url("../images/bg-pattern-top.svg"), url("../images/bg-pattern-bottom.svg");
    background-position: right 50vw bottom 50vh, left 50vw top 50vh;
    background-repeat: no-repeat, no-repeat;
    background-color:var(--dark-cyan);
}

/* CARD */
.profile-card{
    position: relative;
    width: 300px;
    height: 330px;
    border-radius: 10px;
    font-family: "Kumbh Sans", sans-serif;
    color: var(--dark-gray);
    background-color: white;
    overflow:hidden;
}

/* TOP SECTION */
.profile{
    position: relative;
}
.profile img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90px;
    border: 3px solid white;
    border-radius: 50%;
}
.bg-top{
    width: 100%;
    height: 120px;
    background-image: url('../images/bg-pattern-card.svg');
}
.bg-buttom{
    position: relative;
    width: 100%;
    height: 140px;
    text-align: center;
    border-bottom: 1px solid var(--dark-gray);
}
.user-name{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.user-name>h1{
    line-height: 2;
    font-weight: 700;
    color: var(--very-dark-desaturated-blue);
}
.user-name span{
    color: var(--dark-gray);
}


/* BUTTOM SECTION */
.info{
    display: flex;
    justify-content: space-around;
    padding-top: 1rem;
    text-align: center;
}
.info h2{
    font-size: 1rem;
    font-weight: 700;
    color: var(--very-dark-desaturated-blue);
}
.info p{
    font-weight: 400;
    font-size: 0.7rem;
}