*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    /* Colors */
    --nutmeg: hsl(14, 45%, 36%);
    --light--raspberry: hsla(332, 51%, 32%, 0.096);
    --dark--raspberry: hsl(332, 51%, 32%); 
    --white: hsl(0, 0%, 100%);
    --rose-white: hsl(330, 100%, 98%);
    --eggshell: hsl(30, 54%, 90%);
    --light-grey: hsl(30, 18%, 87%);
    --wenge-brown: hsl(30, 10%, 34%);
    --dark-charcoal: hsl(24, 5%, 18%);
}

@font-face {
    font-family:"Young Serif", serif;
    src: url('../assets/fonts/young-serif/YoungSerif-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Outfit", sans-serif;;
    src: url('../assets/fonts/outfit/Outfit-VariableFont_wght.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Outfit", sans-serif;;
    src: url('../assets/fonts/outfit/Outfit-VariableFont_wght.ttf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Outfit", sans-serif;;
    src: url('../assets/fonts/outfit/Outfit-VariableFont_wght.ttf');
    font-weight: 700;
    font-style: normal;
}

body{
    background-color: var(--eggshell);
}
.recipe-page{
    width: 700px;
    margin: 2rem auto;
    padding: 2rem;
    border-radius: 15px;
    color: var(--wenge-brown);
    background-color: var(--white);
    font-family: "Outfit";
}
.section{
    margin-top: 1rem;
}
.title, h1{
    margin: 1rem 0;
    font-family: "Young Serif";
    color: var(--nutmeg);
}
h1{
    color: var(--dark-charcoal);
}
p{
    margin: 1.5rem 0;
}
img{
    max-width: 100%;
    border-radius: 10px;
}

/* LIST */
li{
    margin: 0.8rem 1.3rem;
    padding-left: 1rem;
}
li span{
    font-weight: 600;
}
li::marker, td:nth-child(even){
    color: var(--nutmeg);
    font-weight: 600;
}


/* PREP SECTION */
.prep-time{
    padding: 1.5rem;
    border-radius: 10px;
    background-color: var(--light--raspberry);
}
.prep-time h3{
    color: var(--dark--raspberry);
}
.prep-time li::marker{
    color: var(--dark--raspberry);
}


/* TABLE */
table{
    width: 100%;
    border-collapse: collapse; 
}
td{
    width: 50%;
    padding: 10px 0px;
}
tr,hr{
    border-top: 0px;
    border-bottom: 1px solid var(--light-grey) ;;
}
tr:nth-child(4){
    border-bottom: none;
}

.attribution { font-size: 11px; text-align: center; margin: 1rem auto; }
.attribution a { color: hsl(228, 45%, 44%); }

@media (max-width: 430px) {
    body{
        background-color: var(--white);
    }
    .recipe-page{
        margin: 0;
        padding: 0;
        border-radius: 0;
        /* overflow: auto; */
    }
    .section{
        margin: 0 1.5rem;
    }
    img{
        border-radius: 0;
    }
    .attribution{
        display: none;
    }
}
