:root {
  /* Primary Colors */
  --light-red-CTA-text: hsl(356, 100%, 66%);
  --very-light-red-CTA-hover-background: hsl(355, 100%, 74%);
  --very-dark-blue-headings: hsl(208, 49%, 24%);

  /* Neutral Colors */
  --white-text: hsl(0, 0%, 100%);
  --grayish-blue-footer-text: hsl(240, 2%, 79%);
  --very-dark-grayish-blue-body-copy: hsl(207, 13%, 34%);
  --very-dark-black-blue-footer-background: hsl(240, 10%, 16%);

  /* Background gradient - Intro/CTA mobile nav: */
  --very-light-red: hsl(13, 100%, 72%);
  --light-red: hsl(353, 100%, 62%);
  --bg-cta-gradient: linear-gradient(135deg, var(--very-light-red), var(--light-red));

  /* Background gradient - body: */
  --very-dark-gray-blue: hsl(237, 17%, 21%);
  --very-dark-desaturated-blue: hsl(237, 23%, 32%);
  --bg-body-gradient: linear-gradient(150deg, var(--very-dark-gray-blue), var(--very-dark-desaturated-blue));

  /* Typography */
  --font-regaular: 16px;

  --font-overpass: "Overpass", sans-serif;
  --font-overpass-light: 300;
  --font-overpass-semibold: 600;

  --font-ubuntu: "Ubuntu", sans-serif;
  --font-ubunti-regular: 400;
  --font-ubuntu-medium: 500;
  --font-ubuntu-bold: 700;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  /* max-width: 100vw; */
  max-width: 1140px;
  margin: auto;
  overflow-x: hidden;
}

h2, h3{
  color: var(--very-dark-blue-headings);
}