.menuList {
  display: flex;
  list-style: none;
}

.menuList li {
  margin-left: 25px;
}
.menuList li:hover {
  text-decoration: underline;
  cursor: pointer;
}

.arrowIcon {
  margin-left: 5px;
}
.arrowUp{
  margin-left: 5px;
  transform: rotate(180deg);
}

.signupBtn,
.loginBtn {
  margin: 5px;
  text-decoration: none;
  font-weight: var(--font-overpass-semibold);
  color: var(--white-text);
}
.signupBtn:hover {
  color: var(--white-text);
  background-color: var(--very-light-red-CTA-hover-background);
  border: 1px solid var(--very-light-red-CTA-hover-background);
}

.signupBtn {
  padding: 10px 20px;
  color: var(--light-red-CTA-text);
  background-color: var(--white-text);
  border: 1px solid var(--white-text);
  border-radius: 50px;
}
