.headerContainer {
  height: 85vh;
  padding: 30px 40px;
  border-radius: 0 0 0 100px;
  color: var(--white-text);
  background-image: url("../../asset/bg-pattern-intro-mobile.svg"),
    var(--bg-cta-gradient);
  background-size: cover cover, cover;
  background-position-x: 40%, center;
  background-position-y: 40%, 0px;
  background-repeat: no-repeat;
}

.desktopMenu {
  display: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.introContainer {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 40px;
  text-align: center;
}
.intro {
  color: var(--white-text);
}

.linkBtn {
  margin: 5px;
  padding: 10px;
  text-decoration: none;
  font-weight: var(--font-overpass-semibold);
  color: var(--light-red-CTA-text);
  background-color: var(--white-text);
  border: 1px solid var(--white-text);
  border-radius: 50px;
}
.linkBtn:hover {
  color: var(--white-text);
  background-color: var(--very-light-red-CTA-hover-background);
  border: 1px solid var(--very-light-red-CTA-hover-background);
}

.learnBtn {
  color: var(--white-text);
  background-color: transparent;
}
.learnBtn:hover {
  color: var(--light-red-CTA-text);
  background-color: var(--white-text);
}

/* greater than 430px */
@media (min-width: 431px) {
}
/* greater than 750px/Desktop */
@media (min-width: 751px) {
  .headerContainer {
    height: 40vh;
  }
  .headerContainer {
    background-image: url("../../asset/bg-pattern-intro-desktop.svg"),
      var(--bg-cta-gradient);
    background-size: 200% 400%, cover;
    background-position-x: 25%, center;
    background-position-y: 50%, 0px;
    background-repeat: no-repeat;
  }
  .hamburgerMenu {
    display: none;
  }
  .desktopMenu {
    width: 100%;
    margin-left: 40px;
    display: flex;
    justify-content: space-between;
  }
}
