:root {
  /* Primary Colors */
  --very-dark-magenta: hsl(300, 43%, 22%);
  --soft-pink: hsl(333, 80%, 67%);

  /* Neutral Colors*/
  --dark-grayish-magenta: hsl(303, 10%, 53%);
  --light-grayish-magenta: hsl(300, 24%, 96%);
  --White: hsl(0, 0%, 100%);

  /* Typography */
  --font-body-copy: 15px;
  --font-regular: 400;
  --font-meduim: 500;
  --font-bold: 700;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-size: var(--font-body-copy);
  line-height: 20px;
}

p {
  color: var(--dark-grayish-magenta);
  font-weight: var(--font-regular);
}
