*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --soft-blue: hsl(215, 51%, 70%);
    --Cyan: hsl(178, 100%, 50%);
    --Cyan-overlay: hsla(178, 100%, 50%, 0.226);

    --very-dark-blue-bg: hsl(217, 54%, 11%);
    --very-dark-blue-card: hsl(216, 50%, 16%); 
    --very-dark-blue-line: hsl(215, 32%, 27%); 
    --white: hsl(0, 0%, 100%);
}

.outfit-normal {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 2rem;
    height: 100vh;
    color: var(--white);
    background-color: var(--very-dark-blue-bg);
}
.preview-card{
    width: 330px;
    height: 550px;
    padding: 1.5rem;
    border-radius: 10px;
    color: var(--soft-blue);
    background-color: var(--very-dark-blue-card);

    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.card-image{
    background-image: url('../images/image-equilibrium.jpg');
    background-size: contain;
    border-radius: 5px;
    height: 280px;
}

.desc{
    margin: 1rem 0;
}
.desc h1{
    margin: 1rem 0;
    font-weight: 700;
}
.desc>p{
    font-weight: 300;
}
.price{
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
}
.subgroup{
    display: flex;
}
.subgroup img{
    margin-right: 0.5rem;
}
hr{
    border: 1px solid var(--soft-blue);
    border-bottom: 0px;
}
.creator {
    display: flex;
    align-items: center;
    margin-top: 1rem;
}
.creator img{
    width: 50px;
    float: left;
    margin-right: 1rem;
    border-radius: 50%;
    border: solid 2px var(--white);
}
h1, .creator span{
    color: var(--white);
}

/* Active State */
h1:hover, .creator span:hover{
    color: var(--Cyan);
}
.overlay{
    position: relative;
    visibility: hidden;
    height: 100%;
    border-radius: 5px;
    background-color: var(--Cyan-overlay);
}
.overlay img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.card-image:hover .overlay{
    visibility: visible;
    height: 100%;
    border-radius: 5px;
    background-color: var(--Cyan-overlay);
}